/* Ocean Dark Theme */


/* https://github.com/gavsiu */


/* Original theme - https://github.com/chriskempson/base16 */


/* Ocean Comment */

.hljs-comment, .hljs-quote {
    color: #41506F;
}


/* Ocean Red */

.hljs-variable, .hljs-template-variable, .hljs-tag, .hljs-name, .hljs-selector-id, .hljs-selector-class, .hljs-regexp, .hljs-deletion {
    color: #7D80DA;
}


/* Ocean Orange */

.hljs-number, .hljs-built_in, .hljs-builtin-name, .hljs-literal, .hljs-type, .hljs-params, .hljs-meta, .hljs-link {
    color: #BF795D;
}


/* Ocean Yellow */

.hljs-attribute {
    color: #ebcb8b;
}


/* Ocean Green */

.hljs-string, .hljs-symbol, .hljs-bullet, .hljs-addition {
    color: #1B998B;
}


/* Ocean Blue */

.hljs-title, .hljs-section {
    color: #8fa1b3;
}


/* Ocean Purple */

.hljs-keyword, .hljs-selector-tag {
    color: #7D80DA;
}

.hljs {
    /* custom css by Jake Wiesler to prevent word wrap in pre > code */
    white-space: pre;
    word-wrap: normal;
    display: block;
    color: #41506B;
    padding: 3rem 2rem;
    width: 80%;
    max-width: 710px;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}
